body {
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cairo', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 25%;
    height: 75%;
    width: 100%;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 5mm;
    border-width: 3px;

}


.container h2{
    text-align: center;
    width: 100%;
}
.container p{
    text-align: center;
}

.doneby{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}
.doneby h2{
    width: 100%;
}

.francisco {
    width: 50%;
}

.simao {
    width: 50%;
}

.mock-up a img{
    height: 70px;
    width: auto;
}

.zip-folder a img{
    height: 70px;
    width: auto;

}

.link-website a img{
    height: 70px;
    width: auto;

}
