/*--- SIDE BAR ---*/
#mainbox{
    font-size: 2vw;;
    cursor: pointer;
    transition: all .6s;
   }

.sidemenu{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 1;
    overflow-x: hidden;
    transition: all .5s;
   }

   .up{
       height: 50%;
       padding-top: 30%;
   }
   .down{
       padding-top: 30%;
       height: 50%;
   }

.sidemenu a{
    padding: 8px 8px 8px 35px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
   }
.sidemenu a:hover{
     color: white;
   }

.sidemenu .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
   }

#admin-benefits { 
    width: 100%;
    padding-top: 5% ;
    border-top: antiquewhite;
    border-top-style: solid;
   }

#currency{
    margin:0 20%;
    padding-left: 10%;
    height: 2.5%;
    width: 50%;
    position: absolute;
    bottom: 5%;
   }

#currency form select{
    height: 30px;
    width: 100%;
    background-color: #999;
}