body {
    background-color: #f5f5f5 !important;
}
/*--- HEADER --- */

header {
    margin: 20px 5px 5px 5px; 
    height: 100px;
}

.header-container h1{
    margin: 0;
    font-size: 3vw;
}

.header-container h1 a {
    padding-left: 25px;
    text-decoration: none;
    color: black;
}

.header-container-a {
    color: black;
    grid-area: side;
    text-align: center;
    align-self: center;
}

.header-container-b {
    color: black;
    grid-area: header;
    text-align: center;
    align-self: center;

}

.header-container-c {
    color: black;
    grid-area: icon-user;
    text-align: center;
    align-self: center;
}

.header-container-c a i{
    text-decoration: none;
    color: black;
}


.header-container-d {
    color: black;
    grid-area: icon-cart;
    text-align: center;
    align-self: center;
}

.header-container-d a i{
    text-decoration: none;
    color: black;
}


.header-container-e {
    grid-area: logout;
    text-align: center;
}
.header-container-e a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.header-container-e a:hover {
    text-decoration: underline;
    color: black;
}

.header-container{
    font-family: 'Cairo', sans-serif;
    display: grid;
    grid-template-columns: 7.5% 5% 5% 65% 5% 5% 7.5%;
    grid-template-rows: 100%;
    grid-template-areas: 
      "side . . header icon-user icon-cart logout";
    align-items: center;
}

/*--- SIDE BAR ---*/
#mainbox{
    font-size: 2vw;;
    cursor: pointer;
    transition: all .6s;
   }

.sidemenu{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
   }
.sidemenu a{
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
   }
.sidemenu a:hover{
     color: white;
   }
.sidemenu .closebtn{
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
   }

#admin-benefits { 
    width: 100%;
    padding-top: 15px ;
    border-top: antiquewhite;
    border-top-style: solid;
    position: absolute;
    bottom: 150px;
   }

#currency{
    padding-left: 64px;
    height: 30px;
    width: 70%;
    position: absolute;
    bottom: 40px;
   }

#currency form select{
    height: 30px;
    width: 100%;
    background-color: #999;
}

   
/*--- BODY ---*/

.search-box{
    grid-area: search-box;
    align-self: center;
    justify-self: stretch;
}

table{
    grid-area: table-admin;
}

main h2{
    margin-top: 50px 0 10px 0;
    grid-area: header-table;
    text-align: center;
    align-self: center;
    justify-self: stretch;
}

.search-filter{
    border-style: solid;
    border-width: 0.7mm;
    border-radius: 7mm;
    padding: 5px 5%;
    margin: 10px 0px;
    grid-area: filter;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.price-range-slider{
    width: 90%;
    text-align: center;
}

main {
    height: 800px;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: 20px 100px auto auto auto;
    grid-template-areas: 
      ". . . . . . . . search-box search-box search-box search-box . . . . . . . ."
      ". . . . . . . . . header-table header-table . . . . . . . . ."
      ". . . . . filter filter filter filter filter filter filter filter filter filter . . . . ."
      ". . . . . table-admin table-admin table-admin table-admin table-admin table-admin table-admin table-admin table-admin table-admin . . . . ."
      ". . . . . . . . . . . . . . . . . . . ."

}

