header {
    margin: 20px 5px 5px 5px; 
    height: 100px;
}

.header-container h1{
    margin: 0;
    font-size: 3vw;
}

.header-container h1 a {
    text-decoration: none;
    color: white;
}

.header-container-a {
    color: white;
    grid-area: side;
    text-align: center;
    align-self: center;
}

.header-container-b {
    color: white;
    grid-area: header;
    text-align: center;
    align-self: center;

}

.header-container-c {
    color: white;
    grid-area: icon-user;
    text-align: center;
    align-self: center;
}

.header-container-c a i{
    text-decoration: none;
    color: white;
}


.header-container-d {
    color: white;
    grid-area: icon-cart;
    text-align: center;
    align-self: center;
}

.header-container-d a i{
    text-decoration: none;
    color: white;
}

.header-container-e {
    grid-area: logout;
    text-align: center;
}
.header-container-e a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header-container-e a:hover {
    text-decoration: underline;
    color: white;
}



.header-container{
    font-family: 'Cairo', sans-serif;
    display: grid;
    grid-template-columns: 7.5% 5% 5% 65% 5% 5% 7.5%;
    grid-template-rows: 100%;
    grid-template-areas: 
      "side . . header icon-user icon-cart logout";
    align-items: center;
}