header {
    margin: 20px 5px 5px 5px; 
    height: 100px;
}

.header-container h1{
    margin: 0;
    font-size: 3vw;
}

.header-container h1 a {
    padding-left: 25px;
    text-decoration: none;
    color: black;
}

.header-container-a {
    color: black;
    grid-area: side;
    text-align: center;
    align-self: center;
}

.header-container-b {
    color: black;
    grid-area: header;
    text-align: center;
    align-self: center;

}

.header-container-c {
    color: black;
    grid-area: icon-user;
    text-align: center;
    align-self: center;
}

.header-container-c a i{
    text-decoration: none;
    color: black;
}


.header-container-d {
    color: black;
    grid-area: icon-cart;
    text-align: center;
    align-self: center;
}

.header-container-d a i{
    text-decoration: none;
    color: black;
}


.header-container{
    font-family: 'Cairo', sans-serif;
    display: grid;
    grid-template-columns: 7.5% 82.5% 5% 5%;
    grid-template-rows: 100%;
    grid-template-areas: 
      "side header icon-user icon-cart";
}